#add-question-page {
    padding: 0 0 76px;
}

#add-question-page .top-block {
    background: var(--themeColor);
    padding: 23px 20px;
    color: white;
}

#add-question-page .top-block .head {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#add-question-page .main-block {
    padding: 20px;
}

#add-question-page .main-block .option-grid {
    display: grid;
    gap: 20px;
}

/* ---------grid------ */
#add-question-page .main-block .option-grid>div {
    display: grid;
    grid-template-columns: 1fr 15px 20px;
    gap: 20px;
}

#add-question-page .main-block .form-block {
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#add-question-page .button-block {
    padding: 19px 20px;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 76px;
    left: 0;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px 10px;
}

/*! ===============================AddQuestion.jsx======================================= */
#AddQuestion {
    padding: 20px 25px;
}

#AddQuestion .document-form {
    padding: 15px;
    border-radius: 5px;
    order: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#AddQuestion .document-form .button-block {
    padding: 19px 20px;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 76px;
    left: 0;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px 10px;
}
/* !==================================AddQuizzes=========================================== */
#AddQuizzes {
    padding: 20px 25px 96px;

}
#AddQuizzes .document-form {
    padding: 15px;
    border-radius: 5px;
    order: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
#AddQuizzes .document-form .form-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#AddQuizzes .document-form .button-block {
    padding: 19px 20px;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 76px;
    left: 0;
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px 10px;
}
#AddQuizzes .document-form .checkbox-flex{
    display: flex;
    gap: 15px;
    align-items: center;
}
#AddQuizzes .document-form .table-head{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0px;
}