/*! =================================================================================*/
/*! DEFAULT CSS */
/*! =================================================================================*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden;
    width: 100vw; */
}

input,
select,
textarea {
    outline: none;
    border: 1px solid grey;
    padding: 5px 15px;
    caret-color: #4274da;
}

input:focus,
select:focus,
textarea:focus,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
    box-shadow: none;
    border-color: #4274da;
}

a {
    color: inherit;
    transition: all 0.3s linear;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.vscomp-ele {
    max-width: initial;
}

button {
    border: 0;
    background: black;
    color: white;
    border: 2px solid black;
    transition: all 0.3s linear;
}

button:hover {
    background: white;
    color: black;
}

/* -------------header------------ */
header .header_rcms_top {
    background: #4274da;
    padding: 3px;
}

header .header_rcms_middle .middle-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header .header_rcms_middle .middle-head .logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .header_rcms_middle .middle-head .logo {
    width: 120px;
    aspect-ratio: 1/0.35;
}

header .header_rcms_middle .middle-head .logo img {
    object-fit: contain;
    object-position: center;
    width: 100%;
}

header .header_rcms_middle .middle-head .icon-grid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    gap: 10px;
}

header .header_rcms_middle .middle-head .icon-grid .icon {
    padding: 3px 10px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid;
    gap: 5px;
    position: relative;
    cursor: pointer;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop {
    position: relative;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop .icon-block {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    width: 300px;
    display: none;
    background: white;
    box-shadow: 0 8px 24px rgb(160 157 157 / 77%);
    border-radius: 15px;
    padding: 10px;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop .icon-block.small-block {
    width: 220px;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop .icon-block div {
    padding: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop .icon-block div:hover {
    color: #4274da;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop .icon-block div.image {
    padding: 0;
    width: 100%;
    aspect-ratio: 1/0.8;
    margin-bottom: 10px;
    border-radius: 15px;
    overflow: hidden;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop .icon-block::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 200px;
    height: 30px;
    right: 0px;
    top: -20px;
}

header .header_rcms_middle .middle-head .icon-grid .icon-drop:hover .icon-block {
    display: block;
    z-index: 100;
}

header .header_rcms_bottom {
    padding: 10px 0;
    background: #80808042;
}

header .header_rcms_bottom .bottom-head {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header .header_rcms_bottom .bottom-head .link-block {
    display: flex;
    align-items: center;
    gap: 10px;
    /* 'width=1200, height=900, top=0, left=0' */
    width: 1200%;
}

header .header_rcms_bottom .bottom-head .link-block>* {
    display: grid;
    width: 40px;
    font-size: 1.1rem;
    height: 40px;
    place-items: center;
    border: 1px solid black;
    border-radius: 50%;
}

header .header_rcms_bottom .bottom-head .right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

header .header_rcms_bottom .bottom-head form {
    display: grid;
    grid-template-columns: 200px 300px 50px;
    overflow: hidden;
}

header .header_rcms_bottom .bottom-head form select {
    background: transparent;
    padding: 8px 4px;
    margin-right: 10px;
    border: 2px solid;
    display: block !important;
}

header .header_rcms_bottom .bottom-head form select+.selectize-control {
    display: none !important;
}

header .header_rcms_bottom .bottom-head form input {
    border: 0;
    font-size: 0.9rem;
    background: white;
    padding: 0;
    padding: 8px 10px;
}

header .header_rcms_bottom .bottom-head form label {
    background: #4274da;
    text-align: center;
    color: white;
    padding: 8px 10px;
}

header .header_rcms_bottom .drop-block {
    position: relative;
}

header .header_rcms_bottom .drop-block .drop-btn {
    width: 40px;
    font-size: 1.4rem;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

header .header_rcms_bottom .drop-block .drop-items {
    background: white;
    position: absolute;
    right: 0;
    top: 100%;
    width: max-content;
    display: none;
    width: 200px;
    z-index: 10;
    box-shadow: 0 8px 24px rgb(160 157 157 / 77%);
    border-radius: 10px;
}

header .header_rcms_bottom .drop-block .drop-items a {
    padding: 10px;
    display: block;
    width: 100%;
    transition: all 0.3s linear;
}

header .header_rcms_bottom .drop-block .drop-items a:hover {
    background-color: #f1f1f1;
}

header .header_rcms_bottom .drop-block:hover .drop-items {
    display: block;
}




/*! =================================================================================*/
/*! BUTTON */
/*! =================================================================================*/
.button_theme1 {
    height: 35px;
    padding: 4px 15px;
    font-size: 0.9rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button_theme1:hover {
    color: white;
    background: #111;
}

.button_theme1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button_theme1:active {
    color: #000
}

.button_theme1:active:after {
    background: transparent;
}

.button_theme1:hover:before {
    opacity: 1;
}

.button_theme1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
